html {
    font-size: 10px;
    font-family: $special-font;
    background-color: $main-color;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: $main-color;

    @media(max-width:$medium-device) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @media(max-width: $small-device) {
        width: 100%;
    }
}

.content {
    margin: 0 auto;
    width: 1000px;

    &--contact {
        margin: 0 auto;
        width: 843px;
    }

    @media(max-width:$medium-device) {

        margin: 0 auto;
        width: 597px;
    }

    @media(max-width: $small-device) {
        margin: 0 auto;
        width: 291px;
    }
}