.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 976px;
    width: 100%;
    background-color: $main-color;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 170px;
        border-bottom: dotted 2px white;

    }

    &__image {
        margin-right: 18px;
    }

    &__title {

        font-weight: 300;
        font-size: 2.9rem;
        color: white;
        text-transform: uppercase;

    }

    &__branch {
        // display: none;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        height: 270px !important;
        border-bottom: dotted 2px white !important;
        // background-color: green;

        .branch__item {
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-between !important;
            height: 181px !important;
            font-size: 1.7rem !important;
            font-weight: 300 !important;
            color: white !important;


        }
    }

    .submit__return {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 55px;

        .return__link {
            color: white;
            text-decoration: none;
            font-weight: 300;
            font-size: 1.7rem;
        }
    }

    &__submit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 474px;
        border-bottom: dotted 2px white;


        &--medium {
            display: none;
        }




        .submit__send {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-evenly;
            // flex: 3;
            width: 420px;
            color: white;
            font-weight: 300;
            font-size: 1.7rem;

            .submit__title {
                margin-bottom: 25px;
                margin-left: auto;
                text-transform: uppercase;
            }

            .send__form {
                display: flex;

                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;




                .form__input {
                    margin-bottom: 14px;
                    width: 100%;
                    height: 32px;
                    padding-left: 10px;





                    &::placeholder {
                        font-family: $special-font;
                        text-align: right;
                    }
                }



                .form__text-area {
                    margin-bottom: 14px;
                    width: 100%;
                    height: 86px;
                    resize: none;

                    &::placeholder {
                        font-family: $special-font;
                        text-align: right;
                    }
                }
            }

            .form__checkboxes {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                height: 56px;
                width: 295px;


                .checkboxes__text {
                    width: 100%;
                    margin-bottom: 15px;
                    padding-left: 10px;

                }

                .item {
                    display: flex;
                    justify-content: space-between;

                    &--right {
                        margin-left: auto;
                    }

                }

                .form__checkbox {
                    width: 20px;
                    height: 20px;
                    margin-right: 12px;
                    margin-left: 8px;


                }
            }

            .form__button {
                font-family: $special-font;
                width: 117px;
                height: 52px;
                border: none;
                background-color: white;
            }
        }

        .submit__social {
            // flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 385px;
            color: white;
            font-size: 1.7rem;
            font-weight: 300;
            text-transform: uppercase;
            // margin: 0px 10px;

            margin-left: 25px;
        }

        .submit__info {
            // flex: 2;
            width: 255px;
            height: 385px;
            display: flex;
            flex-direction: column;
            font-size: 1.7rem;
            color: white;
            font-weight: 300;


            padding-left: 22px;

            &--medium {
                display: none;
            }

            .wrap {
                height: 241px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 20px;
            }

            .info__title {
                text-transform: uppercase;


                &--medium {
                    display: none;
                }
            }

        }
    }

    .contact__slider--small {
        display: none;
    }
}

@media screen and (max-width:$medium-device) {
    .contact {

        height: 380px;



        &__header {

            height: 86px;


        }

        &__image {
            width: 50px;
            height: 50px;
            margin-right: 10px;

            &-img {
                width: 100%;
            }
        }

        &__title {

            font-weight: 300;
            font-size: 2rem;
            color: white;
            text-transform: uppercase;

        }

        &__branch {

            height: 184px;


            .branch__item {

                height: 136px;
                font-size: 1.2rem;



            }
        }


        .submit__return {
            display: none;


        }



        .contact__submit {
            display: none;

        }

        .contact__submit--medium {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: 109px;
            border-bottom: none;


        }

        .submit__item {
            height: 100%;
            font-size: 1.2rem;
            font-family: $special-font;
            color: white;
            margin-top: 10px;

            &:nth-child(1) {
                height: 62%;
            }

            &:nth-last-child(1) {
                margin-left: 10px;
            }
        }

        .submit__text {
            width: 191px;
            line-height: 15px;
            margin-top: 15px;

            &--medium {
                margin-top: 5px;
            }
        }

        .text__span {

            text-transform: uppercase;
        }
    }

    .contact__slider--small {
        display: none;
    }
}

@media screen and (max-width:$small-device) {
    .contact {

        height: 380px;

        &__header {
            height: 50px;
            border-bottom: dotted 1px white;
        }

        &__image {
            width: 39px;
            height: 39px;
            margin-right: 5px;
            margin-bottom: 5px;

            &-img {
                width: 100%;
            }
        }

        &__title {

            font-weight: 300;
            font-size: 1.6rem;
            color: white;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        &__branch {
            display: none;
            height: 164px;

            .branch__item {
                display: none;
                height: 136px;
                font-size: 1.2rem;

            }
        }

        .contact__slider--small {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 164px;
            border-bottom: dotted 1px white;


            .contact__arrow {
                width: 21px;
                height: 34px;

                &--rotate {
                    transform: rotate(180deg);
                }

                .arrow__image {
                    width: 100%;

                }
            }

            .branch__item--small {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 130px;
                height: 150px;
                color: white;
                font-size: $small-font-size;

                .branch__address {
                    text-align: center;
                }
            }
        }

        .submit__return {
            display: none;

        }

        .contact__submit {
            display: none;
        }

        .contact__submit--medium {
            display: flex;
            height: 150px;
            width: 100%;
        }

        .submit__item {
            height: 100%;
            font-size: $small-font-size;
            font-family: $special-font;
            color: white;

            &:nth-last-child(1) {
                margin-left: 0px;
            }
        }

        .submit__text {
            width: 152px;
            line-height: 15px;
            margin-top: 13px;

        }


    }
}