.industries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 978px;
    width: 100%;
    background-color: $main-color;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 169px;

        border-bottom: dotted 2px white;

        .header__title {
            color: white;
            font-size: 2.8rem;
            text-transform: uppercase;
            font-weight: 300;
        }

    }

    &__gallery {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 769px;
        margin-top: 40px;


        .gallery__column {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            // justify-content: space-between;

            min-height: 100%;



        }

        .gallery__item {
            position: relative;
            margin: 10px 0px 10px 0px;
            color: white;

            cursor: pointer;
            transition: 0.5s;

            &:hover {
                transform: scale(1.1);
                background-color: rgba(0, 0, 0, 0);
            }

            &-text {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 400;
                white-space: nowrap;

                &--shadow {
                    line-height: 152px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, .5);
                    text-shadow: 3px 4px 2px rgb(0, 0, 0);
                    transition: 0.5s;

                    &:hover {

                        background-color: rgba(0, 0, 0, 0);
                    }
                }

            }

            &:last-child {
                height: 227px;
                width: 317px;
            }

            &--gray {
                width: 313px;
                height: 150px;
                background-color: #707070;

                &:hover {
                    background-color: #707070;
                }

            }
        }

        .gallery__text {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 20px;
            text-align: justify;


        }

        .gallery__image--small {
            display: none;
        }

    }


}

@media screen and (max-width:$medium-device) {
    .industries {
        min-height: 445px;
        width: 100%;

        &__header {
            min-height: 77px;
            border-bottom: dotted 1px white;

            .header__title {

                font-size: 1.6rem;

                // line-height: 20px;
                padding: 5px 0px 0px 50px;

            }

        }

    }

    .industries__gallery {
        min-height: 350px;
        margin-top: 20px;

        .gallery__column {
            min-height: 100%;
            width: 187px;
        }

        .gallery__item {
            position: relative;
            width: 188px;
            height: 90px;
            margin: 5px 0px 5px 0px;

            &:nth-last-child(1) {
                display: none;
            }

            .gallery__image {
                width: 100%;
            }

            &-text {
                position: absolute;
                top: 50%;
                font-size: 1.4rem;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, .5);
                // white-space: normal;
                text-align: center;
                line-height: 89px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                text-transform: uppercase;


            }
        }

        .gallery__text {
            display: none;

        }
    }
}

@media screen and (max-width:$small-device) {
    .industries {
        min-height: 458px;
        width: 100%;

        &__header {
            min-height: 67px;
            margin-bottom: 0px;

            .header__title {

                font-size: 1.6rem;

                line-height: 20px;

            }

        }

    }

    .industries__gallery {
        min-height: 374px;
        margin-top: 5px;
        justify-content: space-between;

        .gallery__column {
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 90px;

            &--first {}
        }

        .gallery__item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 91px;
            height: 116px;



            &:nth-last-child(1) {
                display: none;
            }

            .gallery__image {
                display: none;
            }

            .gallery__image--small {
                display: block;

            }

            &-text {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.1rem;
                font-weight: 400;

                height: 100%;

                line-height: 116px;
                padding-top: 0px;
                white-space: normal;




            }
        }

        .gallery__text {
            display: none;

        }


    }
}