.post {
    width: 100%;

    background-color: white;

    &__item {

        margin: 100px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-wrap: wrap;
        // background-color: goldenrod;
        height: 200px;


        .item__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            flex-grow: 2;
            // background-color: gray;
            height: 100%;
            margin-left: 100px;

            .item__image {
                flex-grow: 1;
                // background-color: green;
            }

            .item__title {
                font-size: 2rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $main-color;
                // align-self: center;
            }

            .item__date {
                font-size: 1.4rem;
                font-weight: 400;

            }

            .item__author {
                font-size: 1.3REM;
                text-transform: uppercase;
                font-weight: 500;
                color: $main-color;
            }

            .item__description {
                font-size: 1.5rem;
            }

            .item__link {
                font-size: 1.4rem;
                text-decoration: none;
            }
        }


    }
}