.services {
    display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    height: 978px;
    width: 100%;
    background-color: $main-color;

    .services__list--small {
        display: none;
    }

    &__header {
        display: flex;
        height: 160px;
        align-items: center;
        justify-content: center;
        border-bottom: dotted 2px white;
    }

    &__image {}

    &__title {
        color: white;
        line-height: 35px;
        font-size: 2.9rem;
        text-transform: uppercase;
        font-weight: 300;
        margin-left: 25px;

    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 477px;
        // margin-top: 62px;
        width: 100%;
        // background-color: burlywood;

    }

    &__column {
        position: relative;
        flex: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 307px;

        &--mid {

            justify-content: center;
            position: relative;
        }


    }

    &__item {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;


        &--speach {
            bottom: 9.5%;
            left: 20%;
        }

        &--login {
            top: 13.5%;
            left: 30%;
        }

        &--book {
            left: 52%;
            top: 43%;
            transform: translate(-50%, -50%);
        }

        &--group {
            top: 17%;
            right: 27%;
        }

        &--banknote {
            bottom: 17.5%;
            right: 19%;
        }

        &-text {
            font-size: 1.7rem;
            color: white;
            padding-top: 25px;
            text-align: center;
            // line-height: 25px;
            font-weight: 400;

        }
    }

    &__description {
        height: 331px;
        // background-color: chartreuse;
    }

    &__text {
        color: white;
        font-size: 2.1rem;
        font-weight: 400;
        column-count: 2;
        column-gap: 27px;
        // margin-top: 75px;
        line-height: 25px;
        text-align: justify;




    }

    .services__item-image--medium {
        display: none;
    }

}

@media screen and (max-width:$medium-device) {
    .services {
        display: flex;
        height: 445px;
        width: 100%;
        background-color: $main-color;

        .services__list--small {
            display: none;
        }


        &__header {

            height: 87px;
            border-bottom: dotted 1px white;


        }

        &__item {
            width: 48px;
            height: 37px;



        }

        .services__item-image--medium {
            display: block;
        }

        .services__item-image--large {
            display: none;
        }

        &__title {
            color: white;
            line-height: 20px;
            font-size: 1.6rem;
            text-transform: uppercase;
            font-weight: 300;
            margin-left: 0px;

        }

        &__list {

            height: 257px;
            margin-top: 33px;


        }




        &__item {
            display: flex;
            flex-direction: row;
            // align-items: center;
            // justify-content: center;
            width: 48px;
            height: 37px;

            &--speach {
                bottom: 2%;
                left: 10%;
            }

            &--login {
                top: 0%;
                left: 10%;
            }

            &--book {
                left: 26%;
                top: 46%;
                transform: translate(-50%, -50%);
            }

            &--group {
                top: -2%;
                right: 103%;
            }

            &--banknote {
                bottom: 0%;
                right: 80%;
            }

            &-text {
                font-size: 1.2rem;

                padding-top: 0;
                text-align: left;
                padding-left: 25px;






            }

            &-image {
                width: 100%;
            }
        }

        .br {
            display: none;

        }


        &__text {
            display: none;




        }


    }
}

@media screen and (max-width:$small-device) {
    .services {

        height: 460px;
        width: 100%;

        &__header {

            height: 58px;
        }

        &__item {

            &-image {
                width: 35px;
                height: 32px;
            }

        }

        .services__list--small {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 332px;
            width: 100%;
            margin-top: 15px;

        }

        &__item--small {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 10px 0px 10px 0px;
            margin-bottom: 0px;

            &--banknote {}

        }

        .services__item-text--small {
            text-align: center;
            color: white;
            margin: 10px 0px 10px 0px;
            font-size: 1.6rem;

        }

        &__column {
            display: none;
        }

        &__item {

            width: 26px;
            height: 20px;

            &-image {
                width: 26px;
                height: 20px;
            }
        }

        &__text {
            display: none;

        }


    }
}